<h1 align="center">Liste des providers ici</h1>
<table align="center" border="1" class="table">
<tr><th>ID</th><th>Name</th><th>Address</th><th>Modifier</th><th>Supprimer</th></tr>
<tr *ngFor="let provider of providers">
  <td>{{provider.id}}</td>
  <td>{{provider.name}}</td>
  <td>{{provider.address}}</td>
  <td><button class="btn btn-warning" (click)="updateProvider(provider)">Modifier</button></td>
  <td><button class="btn btn-danger" (click)="deleteProvider(provider)">Supprimer</button></td>
</tr>

</table>
